.installed.cfg
.mr.developer.cfg
bin/
build/
develop/
develop-eggs/
dist/
docs/_build/
htmlcov/
include/
instance/
lib/
lib64
parts/
.eggs/
.tox/
.coverage
coverage.xml
default.profraw
nosetests.xml
pyvenv.cfg
*.egg
*.pyc
*.swp
*.egg-info
