include *.rst
include *.txt
include buildout.cfg
include tox.ini

recursive-include docs Makefile
recursive-include docs *.py
recursive-include docs *.rst

recursive-include Products *.dtml
recursive-include Products *.gif
recursive-include Products *.jpg
recursive-include Products *.py
recursive-include Products *.zcml
